################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Calculator/Calculator/obj
/Calculator/Calculator/bin/Debug/net5.0
/Calculator/Calculator/ProjectCalculator.csproj
*.v2
Calculator/.vs/Calculator/v16/.suo
*.v2
*.testlog
*.json
Calculator/TestCalculator/.vs/Calculator.Tests/v16/.suo
*.v2
*.pdb
*.dll
*.props
*.targets
*.cache
*.editorconfig
*.txt
*.csproj
*.exe
*.tmp
*.csproj
*.manifest
Calculator/.vs/Calculator/v16/.suo
*.v2
Calculator/.vs/Calculator/DesignTimeBuild/.dtbcache.v2
Calculator/TestCalculator/obj/Debug/net5.0/.NETCoreApp,Version=v5.0.AssemblyAttributes.cs
Calculator/TestCalculator/bin/Debug/net5.0/CoverletSourceRootsMapping
Calculator/TestCalculator/obj/Debug/net5.0/Calculator.Tests.AssemblyInfo.cs
Calculator/TestCalculator/obj/Debug/net5.0/Calculator.Tests.csproj.CopyComplete
Calculator/TestCalculator/obj/Debug/net5.0/TestCalculator.AssemblyInfo.cs
Calculator/TestCalculator/obj/Debug/net5.0/TestCalculator.csproj.CopyComplete
Calculator/TestCalculator/TestCalculator.csproj
