
Calculator/.vs/Calculator/v16/
Calculator/Calculator/bin/
Calculator/Calculator/obj/
Calculator/Calculator.ConsoleApp/bin/
Calculator/Calculator.ConsoleApp/obj/
Calculator/TestCalculator/bin/
Calculator/TestCalculator/obj/